.Corp{
    background-image:url(vue/photo/ff.jpg) no-repeat center;
    width: 100%;
    height: 100vh;
}
.form-container{
	border:1px solid white;
	border-radius:7px;
	padding: 40px 60px;
	margin-top: 25vh;
	-webkit-box-shadow: 0px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75) 
}
#LCI{
	display: inline-block;
    padding: 10px 0;
    margin: 0 15px;
    cursor: pointer;
    color: #71767a;
    border-bottom: 2px solid transparent;
    line-height: 24px;
    text-decoration: none;
}
#LC{
	display: inline-block;
    padding: 10px 0;
    margin: 0 15px;
    color: #71767a;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    line-height: 24px;
    text-decoration: none;
}
.Menu{
	border-top:0;
	margin:0 0 35px;
	font-size:20px;
}	
.Menu #LC{
	color: #0a88d3;
    border-bottom: 2px solid #0a88d3;	
}
